.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: #777;
  font-size: 1.125rem;
  line-height: 1rem;
}

.value {
  font-size: 6rem;
}

.buttons {
  display: flex;
  gap: 0.25rem;
}

.button {
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
